@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Englebert&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .gradient-title {
        @apply font-extrabold bg-gradient-to-br from-blue-600 to-blue-400 bg-clip-text tracking-tighter text-transparent pb-4 pr-2;
    }
}

body {
    background-color: black;
}
@keyframes pulse {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 0.2; }
}

.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes move {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}



.neon-border {
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #ff00ff, #00ffff) 1;
    border-radius: 10px;
    padding: 1rem;
    backdrop-filter: blur(10px);
}
.neon-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    animation: move 10s infinite;
}
.circle-1 {
    width: 150px;
    height: 150px;
    background: rgba(147, 51, 234, 0.5); /* Purple */
    top: 10%;
    left: 10%;
}
.circle-2 {
    width: 200px;
    height: 200px;
    background: rgba(59, 130, 246, 0.5); /* Indigo */
    top: 50%;
    left: 70%;
}
.circle-3 {
    width: 100px;
    height: 100px;
    background: rgba(147, 51, 234, 0.5); /* Purple */
    top: 80%;
    left: 30%;
}


